---
import Layout from "../layouts/Layout.astro";
import About from "../components/Card.astro";
// importante es llamar tailwind aqui desde el css
import "../styles/global.css";

import { getCollection } from "astro:content";

const games = await getCollection("games");
---

<Layout title="Catalogo Gastos Pendejos">
	<main>
		<h1 class="text-white text-center text-6xl font-extrabold mb-20">
			💸Mis Gastos <span
				class="bg-gradient-to-r from-purple-500 via-pink-400 to-white"
				>Pendejos</span
			>💸
		</h1>

		<section aria-label="Pero como son juegazos no me arrepiento">
			<div class="px-4 mx-auto max-w-full-screen-xl">
				<div class="grid gap-20 md:grid-cols-2">
					{
						games.map((game) => {
							const { slug, data, body } = game;
							const {
								genero,
								personajes,
								modo,
								escenarios,
								controles,
								actualizaciones,
								lanzamiento,
								img,
								plataforma,
								title,
								url,
							} = data;

							return (
								<article class="flex z-0">
									<a
										href={`/juego/${slug}`}
										style={`background: url(/${img}); background-position: center; background-size: cover; background-repeat: no-repeat;`}
										class="image-container"
									>
										<img src={`/${img}`} alt={slug} class="w-full h-full object-cover rounded-lg"/>
									</a>
									<div class="flex flex-col justify-center">
										<h2 class="mb-2 text-2xl font-bold leading-tight text-white">
											{title}
										</h2>

										<p class="mb-4 text-gray-300 max-w-sm capitalize">
											{genero}
										</p>
										<span class="text-xs">
											{plataforma}
										</span>
									</div>
								</article>
							);
						})
					}
				</div>
			</div>
		</section>
	</main>
</Layout>

<style>
	@reference "tailwindcss";
			
	span {
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}

	.image-container {
		@apply relative inline-block w-[12.5rem] h-[18.75rem] mb-2.5 mr-10 rounded-lg transition-all duration-300 delay-150;
		aspect-ratio: 2/3;
		box-shadow: 0 0 50px #ffffff25;

		&:hover {
			transform: scale(1.1);
		}

		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: inherit;
			filter: blur(25px) saturate(1.5);
			transform: scale(1.05);
			z-index: -1;
			aspect-ratio: 2/3;
		}
	}
</style>
